@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

*
 {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: 'DM Mono', monospace;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 28px;
}

html, body {
	width: 100%;
	height:100%;
}

body {
	background: radial-gradient(#2A113B, #1B1435, #2F1739, #2A113B);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

input,
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	border-radius: 0;
}

a {
	color: #AF443C;
	text-decoration: none;
}

.container {
	position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    height: 100vh;
    background-size:  cover;
    scroll-snap-align: start;
}

.content {
	margin: 30px auto;
	max-width: 80%;
}

a:hover {
	opacity: 1;
	color: #FFF;
}

.p-logo {
    background: url(./img/p-logo.svg) no-repeat bottom center;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: block;
    position: fixed;
    left: 100px;
    top: 100px;
    z-index: 101;
    opacity: 0.8;
    transition: all 0.15s ease;
}

.p-logo:hover {
	opacity: 1;
}

.bg-element {
	background: url(./img/bg-element.png) no-repeat bottom right;
	height: 100vh;
	width: 100vw;
	position: fixed;
	right: 0;

}


@media (min-width: 1200px) {

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
