@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

*
 {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: 'DM Mono', monospace;
	font-weight: 300;
	letter-spacing: 3px;
	font-size: 28px;
    transition: all 0.15s ease;
	color: #FFF;
	cursor:url('./img/cursor.png') 8 8, auto;
}

*:focus {
	outline: 2px solid rgba(187,72,61, 1);							
}

html, body {
	width: 100%;
	height:100%;
	overflow: hidden;
}

body {
	background: radial-gradient(#2A113B, #1B1435, #2F1739, #2A113B);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

input,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border-radius: 0;
    border: 2px solid rgba(187,72,61, 0.75);
    background: rgba(187,72,61, 0.1);
    font-size: 28px;
    padding: 10px;
	caret-color: rgba(187,72,61, 0.75);									
}

input,
select {
	border: 2px solid rgba(187,72,61, 1);							
}


a {
	color: #AF443C;
	text-decoration: none;
	opacity: 0.75;
	font-size: 50px;
	line-height: 160%;
	margin-right: 30px;
	padding: 0 10px;
	outline: none !important;
}

a:hover,
a:focus {
	opacity: 1;
    color: #c0544c;
	cursor:url('./img/cursor_hover.png') 8 8, auto;
}

.small a {
	font-size: inherit;
}

.container {
	position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    height: 100vh;
    background-size:  cover;
    scroll-snap-align: start;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: stretch;
}

.content {
    justify-content: center;
    max-width: 1980px;
    padding: 30px 230px 0px 230px;
}

.p-logo {
    background: url(./img/p-logo.svg) no-repeat bottom center;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: block;
    position: fixed;
    left: 100px;
    top: 100px;
    z-index: 101;
    opacity: 0.8;
    transition: all 0.15s ease;
}

.p-logo:hover {
	opacity: 1;
}

.bg-element {
	background: url(./img/bg-element.png) no-repeat bottom right;
	height: 100vh;
	width: 100vw;
	position: fixed;
	right: 0;
}

.google-search {
		width: 510px;
		margin-bottom: 30px;
		margin-left: 16px;
		display: none	;

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



@media (max-width: 900px) {

	
	.bg-element {
		background: none;
	}

	a {
		font-size: 30px;
	}

	.content {
		padding: 30px 60px 0;
	}
}
