@font-face {
    font-family: 'GothamRnd-Bold';
    src: url('fonts/GothamRnd-Bold.eot');
    src: local('☺'), url('fonts/GothamRnd-Bold.woff') format('woff'), url('fonts/GothamRnd-Bold.ttf') format('truetype'), url('fonts/GothamRnd-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800); */

*
 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:'GothamRnd-Bold',Sans-Serif;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url("./img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body.dark-mode {
  background: #26262c;
}

body.boss-key {
  background: red;
}

input,
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border-radius: 0;
}

a.quick-links {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a.quick-links:focus {
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 10000000;
    left: 0;
    padding: 10px;
    color: #2b2b2b;
    background-color: #fff062;
    outline: none;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,1);
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    border: 4px solid transparent;
    outline: none;
}

.logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 100;
}

.logo img {
    max-height: 50px;
    width: auto;
}

.drop {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    bottom: 0;
    left: 0;
    border: 20px solid #FFF;
}

.dark-mode .drop {
	border: 2px solid #ff0000;
}

.drop img {
    max-height: 50px;
    width: auto;
}

.dropped {
    background: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    padding: 30px;
}

.outer {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;

}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    width: 100%;
    text-align: center;
}

.row a {
    display: inline-block;
}

.fav a {
    font-size: 40px;
    padding: 15px 30px;
    z-index: 8888;
    position: relative;
}

.all {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

.all a {
    font-size: 22px;
    padding: 10px 20px;
    display: block !important;
    z-index: 999;
}

.drop img {
    position: fixed;
    right: 40px;
    top: 40px;
}

.drop:hover {
    cursor: pointer;
}

.drop.open {
    z-index: 9999;
}


/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz a:hover, 
.hvr-buzz a:focus, 
.hvr-buzz a:active,
.drop > img:hover {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.drop > img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.drop > img {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


@media (max-width: 500px) {
    .fav a {
        font-size: 22px;
        padding: 10px 20px;
    }

    .all {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

    .all a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .logo {
        top: 10px;
        left: 10px;
    }

    .logo img {
        max-height: 30px;
    }

    .drop {
        border: 3px solid #FFF;
    }

    .drop img {
        max-height: 30px;
        top: 10px;
        right: 10px;
    }

}




@media (min-width: 1200px) {
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
    }

}

